<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mi Portafolio</h1>
    <p class="lead text-muted">Este es mi album personal donde les compartire los proyectos que eh realizado en lo que va de mi carrera como desarrollador y las tecnologias que eh usado para desarrollar estos proyectos.</p>
    <p>
      <%= link_to 'Conoce mas sobre mi', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Mi Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>