<h1>Acerca de mi</h1>
<p>Actualmente soy un estudiante de Ingeniera en Tecnologia de Software, aun no tengo experiencia laboral ya que voy a mitad de mi carrera, pero tengo las ganas de empezar a realizar proyecto como freelancer o conseguir una oportunidad en una empresa para ampliar mis conocimientos y ver como se trabaja con un equipo de desarrolladores con proyecto reales.</p>
